<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>💚 Lean On Me 💚</title>
</head>

<body>
  <div class="wrapper">
    <header class="main-header">
      <h1 class="company-header">Welcome to LeanOnMe!</h1>
      <div>
          {{!-- {{#if loggedIn}}
          <span>Welcome, {{user.name}}!</span>
          {{/if}} --}}
        </div>
      <nav class="navbar">
        <div>
          {{#if loggedIn}}
          <a href="/" class="homepage">Homepage</a>
          {{else}}
          <a href="/" class="homepage">Homepage</a>
          {{/if}}
          </div>
        <div>
          {{#if loggedIn}}
          <a href="/profile">Profile</a>
          {{/if}}
        </div>
        <div>
          {{#if loggedIn}}
          <a href="/logout" class="nav-link">Logout</a>
          {{else}}
          <a href="/login">Login/Signup</a>
          {{/if}}
        </div>
      </nav>
    </header>
    <div class="row">
      <div class="col-md-12">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <main>
        {{{body}}}
      </main>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  
<!--mission statement-->
  <div class="mission">
    <h2>Our Mission</h2>
    <p>Lean On Me is a non-profit organization that provides a safe space for people to share their stories and
    experiences. We believe that every community needs a sense of belonging and a place to feel safe. 
    <p>We provide resources and support to include healthcare, community clean up, child care services, and more. We are here to listen and help you through your journey. 
    </p>
    </p>
  </div>

</body>
<footer>
  </div>
    <div class="Contact">
      <p>Contact Us</p>
      <p class="address">Address:
        1234 Main Street
        Chicago, USA 62345
      </p>
      <p class="phone">Phone: 847-555-5955</p>
      <P class="email"><a href="mailto:INFO@LEANONEME.ORG">INFO@LEANONME.ORG</a></P>
    </div>

  <div class="footer">
    <p>© 2020 Lean On Me</p>
    <p> <a href="/about">About Us</a></p>
    <p> <a href="/privacy">Privacy Policy</a></p>
    <p> <a href="/terms">Terms of Service</a></p>
    <p> <a href="/faq">FAQ</a></p>
  </div>
</footer>

</html>