<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>💚 Lean On Me 💚</title>
</head>

<body>
  <div class="wrapper">
    <header class="main-header">
      <h1 class="company-header">Welcome to LeanOnMe.org!</h1>
      <div>
          {{!-- {{#if loggedIn}}
          <span>Welcome, {{user.name}}!</span>
          {{/if}} --}}
        </div>
      <nav class="navbar">
        <div>
          {{#if loggedIn}}
          <a href="/" class="homepage">Homepage</a>
          {{else}}
          <a href="/" class="homepage">Homepage</a>
          {{/if}}
          </div>
        <div>
          {{#if loggedIn}}
          <a href="/profile">Profile</a>
          {{/if}}
        </div>
        <div>
          {{#if loggedIn}}
          <a href="/logout" class="nav-link">Logout</a>
          {{else}}
          <a href="/login">Login/Signup</a>
          {{/if}}
        </div>
      </nav>
    </header>
    <div class="row">
      <div class="col-md-12">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <main>
        {{{body}}}
      </main>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  
</body>

</html>