{{#if opportunities.length}}
  {{#each opportunities}}
    <div class="opportunity">
      <h2>{{title}}</h2>
      <p>{{post_text}}</p>
      <p>{{location}}</p>
      <p>{{date}}</p>
      <p>{{time}}</p>
      <p>{{category}}</p>
      <p>{{user_id}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No projects found.</p>
{{/if}}
